@import url('https://fonts.googleapis.com/css2?family=area-normal:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

@import url("https://use.typekit.net/hol0vxx.css");

#indexbody {
    min-height: 100vh;
    background-image: url(../assets/city.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #210c20;
}

.hidden {
    display: none;
}

#choosepath .hidden {
    display: none;
}



.pullquote.showthis {
    margin-left: 25%;
    margin-right: 25%;
}

#header {
    display: inline;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    width: 100%;
}

#stuff {
    text-align: center;
    width: 100%;
    display: grid;
    font-family: "area-normal", sans-serif;
    color: white;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    position: fixed;
    top: 0;
    margin: 1%;
}

#name {
    grid-column: 1;
    justify-self: left;
}

#project {
    grid-column: 2;
   
    -webkit-animation-delay:5s;
    animation-delay: 5s;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    animation: 
    typingEffect 4s steps(40, end) 5s 1 normal both,
    blink .75s step-end 0s infinite;
  
}

#plain {
    grid-column: 3;
    justify-self: right;
    border: none;
    text-decoration: underline;
    padding: .25em;
    margin-inline-end: 3em;
}

#plain1 {
    grid-column: 3;
    justify-self: right;
    border: none;
    text-decoration: underline;
    padding: .25em;
    margin-inline-end: 3em;
    border: white solid 1px;
}

#plain:hover {
    border-color: black;
    background-color: #67025481;
}

#plain1:hover {
    background-color: #67025481;
}

h1 {
    font-family: "area-normal", sans-serif;
    font-weight: 2000;
    font-style: normal;
    font-size: 64px;
    color: white;
    margin-top: 25%;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid white; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    animation: 
      typingEffect 3.5s steps(40, end),
      blink .75s step-end infinite;
}

h3 {
    font-size: 24px;
    font-family: "area-normal", sans-serif;
    font-weight: 900;
}

#foreword h3 {
    font-size: 32px;
    margin-top: .5em;
}

#hookTitle img {
    max-width: 100px;
    justify-self: right;
    position: relative;
    float: right;
    transform: translateY(-147px) translateX(-40px);
}

#safeTitle img {
    max-width: 100px;
    justify-self: right;
    position: relative;
    float: right;
    transform: translateY(-175px);
}

#choosepath h2 {
    color: white;
    font-family: "area-normal", sans-serif;
    overflow:visible;
    text-align: center;
    font-size: 32px;
    grid-column: 1 / span 2;
    animation: typingEffect 3.5s steps(40, end), 
    blink .75s step-end infinite;
    margin-bottom: 2em;
}

  /* The typing effect */
  @keyframes typingEffect {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink {
    from, to { border-color: transparent }
    50% { border-color: white; }
  }

h2 {
    font-family: "area-normal", sans-serif;
    opacity: 0;
    color: white;
    font-weight: 100;
}

#dynamic-fill {
    margin-left: 25%;
    margin-right: 25%;
}

.titleHide {
    display: none;
}

hr {
    margin-bottom: 5em;
}

a {
    color: white;
    text-decoration: none;
}

#choosepath {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr;
    max-height: 450px;
}

#choosepath h1 {
    grid-row: 1;
    grid-column: 1 / span 2;
    text-align: center;
    animation-delay: 10s;
    color: black;
}

#choosepath div {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 1fr;
    max-height: 400px;
    justify-items: center;
    margin: 2.5%;
}

#choosepath div:hover {
    border: white 3px solid;
    cursor: pointer;
    background-color: #81337351;
}

#girlpath {
    grid-row: 2;
    grid-column: 1;
    text-align: center;
}

#girlpath img {
    max-width: 250px;
    max-height: 250px;
    grid-column: 1;
    grid-row: 1;
    margin-top: .5em;
    /* filter: brightness(0) saturate(100%) */
}

#girlpath h3 {
    font-family: "area-normal", sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: white;
    grid-column: 1;
    grid-row: 2;
}

#girlpath h4 {
    font-family: "area-normal", sans-serif;
    font-size: 18px;
    color: white;
    grid-column: 1;
    grid-row: 3;
    margin-top: 0;
    font-weight: bold;
}

#catpath {
    grid-row: 2;
    grid-column: 2;
    text-align: center;
}

#catpath img {
    max-width: 250px;
    max-height: 250px;
    grid-column: 1;
    grid-row: 1;
    margin-top: .5em;
    /* filter: brightness(0) saturate(100%) */
}



#catpath h3 {
    font-family: "area-normal", sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: white;
    grid-column: 1;
    grid-row: 2;
}


#catpath h4 {
    font-family: "area-normal", sans-serif;
    font-size: 18px;
    color: white;
    grid-column: 1;
    grid-row: 3;
    margin-top: 0;
    font-weight: bold;
}

#plainbody {
    color: white;
    margin-top: 5em;
    background-color: #1B0E1F;
}

@keyframes appear {
    10% {
        opacity: 1;
        transform: translateY(-15px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.hide {
    display: none;
}

span.dialogue {
    font-style: italic;
}

#foreword {
    display: block;
   opacity: 0;
    color: white;
    margin-left: 25%;
    margin-right: 25%;
    background-color: #15031a; 
    font-family: "EB Garamond", serif;
    font-size: 18px;
    line-height: 150%;
    padding: 1em;
    margin-top: 8em;
}



.showthis {
    display: block;
    color: white;
    /* margin-left: 25%;
    margin-right: 25%; */
    background-color: #15031a; 
    font-family: "EB Garamond", serif;
    font-size: 18px;
    line-height: 150%;
    padding: 1em;
}


.showthis h1 {
    white-space: normal;
    line-height: 1;
    margin-top: 1em;
    margin-bottom: 0;
}

.showthis h2 {
    font-size: 16px;
    margin-top: .5em;
}

.question {
    font-family: "area-normal", sans-serif;
    font-size: 24px;
    color: white;
    margin-top: 1em,
   
}

.questiondiv hr {
    margin-bottom: .5em;
}

h6 {
    color: white;
    font-family: "area-normal", sans-serif;
    font-weight: bold;
    font-size: 12px;
    margin: .2em;
    transform: translateY(7.5px);
}

h5 {
    color: white;
    font-family: "area-normal", sans-serif;
    font-weight: 100;
    animation: appear 5s ease-in-out

}

.questiondiv {
    background-color: #813373;
    margin-top: 4em;
    padding-top: .2em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    border-radius: 25px;
    border: white double 15px;
    /* visibility: hidden; */
}

.questiondiv:hover {
    background-color: #670254;
}

.questiondiv p, .questiondiv li, .questiondiv ol {
    visibility: hidden;
}

#the-end-div {
    display: none;
}

#the-end {
    color: white;
    font-family: "area-normal", sans-serif;
    font-weight: bold;
    font-size: 36px;
    width: 100%;
    text-align: center;
   justify-items: center;
   margin-top: 2em;
   margin-bottom: 2em;
}

#reset {
    justify-self: center;
    font-size: 15px;
    margin-bottom: 2em;
    text-decoration: underline;
}

.pullquote {
    margin: 1em;
    margin-left: .5em;
    font-family: "area-normal", serif;
    font-weight: bold;
    font-size: 32px;
    line-height: 150%;
    animation: appear 5s ease-in;
}

ol {
    display: none;
}

.showthis ol {
    display: block;
    font-family: "area-normal", sans-serif;
    font-size: 24px;
    font-weight: 900;
    color: white;
    padding-left: 0px;
}

.showthis li {
    font-family: "area-normal", sans-serif;
    font-size: 24px;
    text-decoration: underline;
    font-weight: 900;
    line-height: 200%;
    cursor: pointer;
}

.showthis li:hover {
    font-size: 26px;
}

.showthis p {
    line-height: 160%;
}

.stay {
    color: white;
}

.stay:hover {
    color: aqua;
}

.leave {
    color: white;
}

.leave:hover {
    color: aqua;
}

/* #gethomesafe{
    display: none;
} */


#gethomesafe-plain {
    margin-left: 5%;
    margin-right: 5%;
    font-family: "area-normal", sans-serif;
}

#hooktail-plain {
    margin-left: 5%;
    margin-right: 5%;
    font-family: "area-normal", sans-serif;
}


@media screen and (max-width: 820px) {
    h1 {
        font-size: 24px;
    }

    .pullquote{
        font-size: 20px;
    }

    .showthis {
        margin-left: 10%;
        margin-right: 10%;
    }

    .bodycopy.showthis {
        margin-left: 10%;
        margin-right: 10%;
    }

    #dynamic-fill {
        margin-left: 10%;
        margin-right: 10%;
    }

    h2 {
        font-size: 18px;
    }

    #name {
        display: none;
    }

    #project {
        display: block;
        font-size: 12px;
    }

    #stuff {
        display: grid;
    }

    #plain {
        justify-self: left;
        font-size: 12px;
        opacity: .5;
    }

    #foreword {
        margin-left: 10%;
        margin-right: 10%;
    }
}


@media screen and (max-width: 450px) {
    h1 {
        font-size: 18px;
    }

    .showthis {
        margin-left: .5em;
        margin-right:.5em;
    }

    .bodycopy.showthis {
        margin-left: .5em;
        margin-right:.5em;
    }

    #dynamic-fill {
        margin-left: .5em;
        margin-right: .5em;
    }
    
    .question p {
        font-size: 16px;
    }

    #girlpath h3 {
        font-size: 20px;
    }

    #girlpath h3 {
        font-size: 20px;
    }
}